doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="May the secret sauce lead you to the keys to which you desire.")
    meta(name="author", content="Magics Group")
    meta(name="keywords", content="Magics Group, Programming, Developer, Puzzles, Initiative, If You're Reading This: Analprobes?")

    title We are gonna need a bigger melon.
    link(href="css/style.css", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900,700italic|Open+Sans:700italic,400,600,300,700,800", rel="stylesheet", type="text/css")
    //
      Wishing everyone the finest of holidays. -Magics Group
      https://www.youtube.com/watch?v=LS-ErOKpO4E
  body
    #particles-js(style="z-index: -1; position: fixed; width: 100vw; height: 100vh;")
    #wrapper
      if !enabled
        .main
          .header
            h1 Magics Group.
            h2= disabledMessage
      if enabled
        .main
          .header
            h1 Magics Group.
            h2 Can you find the key?
          .content
            .information
              form(method="POST", action="/invite")#join-form.form
                input(type="text", name="email", placeholder="Enter Your Email Address")#email.field
                if tokenRequired
                  input(type="text", name="token", placeholder="Enter Invite Key")#token.field
                input(type="submit", value="Join").submit
    script(src='js/particles.js')
    script.
      var enabled = #{enabled}
      var tokenRequired = #{tokenRequired};
      if (enabled) {
        var form = document.getElementById('join-form');
        var user = document.getElementById('user');
        var email = document.getElementById('email');
        var token = document.getElementById('token');
        var shake = function(what) {
          if (what.className.length < 15) {
            var oldClassName = what.className;
            what.className = what.className + ' animated shake';
            setTimeout(function() {
              what.className = oldClassName;
            }, 850);
          }
        }
        form.addEventListener('submit', function(evt) {
          if (!email.value) {
            evt.preventDefault();
            shake(email);
          }
          if (tokenRequired && !token.value) {
            evt.preventDefault();
            shake(token);
          }
        });
      }
      particlesJS.load('particles-js', 'particlesjs-config.json');
