doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="May the secret sauce lead you to the keys to which you desire.")
    meta(name="author", content="Magics Group")
    meta(name="keywords", content="Magics Group, Programming, Developer, Puzzles, Initiative, If You're Reading This: Analprobes?")

    title Harness the Melon within
    link(href="css/style.css", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900,700italic|Open+Sans:700italic,400,600,300,700,800", rel="stylesheet", type="text/css")
    // Magics Group: Are you one with the Melon?
  body
    #particles-js(style="z-index: -1; position: fixed; width: 100vw; height: 100vh;")
    #wrapper
      .main
        .header
          h1 #[a(style="color: white; font-weight: 300; cursor: default; text-decoration: none" target="_blank" href="images/ketchup.png") M]agics Group.
          h2 Same bat-time, same bat-channel.
    script(src='js/particles.js')
    script.
      particlesJS.load('particles-js', 'particlesjs-config.json', function() {
        console.log('callback - particles.js config loaded');
      });